#sftpファイルは共有しない
sftp-config.json

#style.cssはバッティングするので共有しない
**/lib/**/style.css

#sftpファイルは共有しない
*/sftp-config.json

#無限に増えるsass.cacheは共有しない
*/.sass-cache

#動画ファイルは重い為共有しない
*.mov
*.mp4
*.ogv

#制作物のファイルは共有しない（HDDで管理）
*.psd
*.ai
